@import '@/assets/style/font';
@import '@/assets/style/buttons';
@import '@/assets/style/links';
@import '@/assets/style/variables';
@import '@/assets/style/mixins';

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.container {
  padding: 0 32px;
}

#app {
  position: relative;
  overflow: hidden;
}
